@import "theme";

:global {
	body {
		height: 100%;
		> #wrapper {
			height: 100%;
		}
	}
}

.main-layout {
	height: 100%;

	//左侧菜单样式
	.app-content {
		//应用区中的header
		height: 100%;
		background:#F0F1F5;
	}
}
